
.sloganCart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6% 0 3% 0;
}
  .sloganCart p {
    font-size: 1.8rem;
}
  .sloganCart p strong {
    font-weight: 900;
}
.cartContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    margin: 0 5%;
}
.cartItems{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.itemCall{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    box-shadow: 0.3em 0.3em 3em rgba(187, 187, 187, 0.4);
    border-radius: 18px;
    background-color: var(--color-brown);
    padding:2%;
}
.infoContainer {
    display: flex;
    flex-direction: row;
}
.imgProductCart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}
.imgProductCart img{
    width:100%;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--color-white);
}
.productInfoCart{
    width: 77%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 3%;
}
.itemInfoCart{
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    padding-bottom: 5%;
} 
.itemInfoCart h5 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-white);
}
.itemInfoCart h4 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-white);
} 
.firstLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.remove {
    padding-right: 2%;
    background-color: transparent;
}
.quantityContainer {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: flex-end;
}
.quantityCart {
    display: flex;
    align-items: center;
}
.quantityCart button img {
    height: 3rem;
    width: 3rem;
}
.quantityCart h6 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-yellow);
    padding: 0 10% ;
}
.quantityContainer p {
    font-size: 2.4rem;
    color: var(--color-yellow);
}
.payBox{
    width: 100%;
    margin: 5% 0;
}
.totalPriceCart {
    display: flex;
    justify-content: space-between;
}
.totalPriceCart h3 {
    font-size: 2.5rem;
}
.totalPrice {
    color: var(--color-green);
}
.buyBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top: 5%;
    padding: 1% 0;
    font-size: 2.1rem;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 35px;
    cursor: pointer;
}
.cancelCart{
    background-color: rgb(143, 131, 113, 0.4);
} 
.deleteSlogan{
    display: none;
}


@media only screen and (min-width: 992px) {
    .cartContainer{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 30%;
    }
    .payBox{
        width: 50%;
        margin: 10% 0;
    }
}