header {
  margin: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font);
}

.logoText {
  display: block;
}
header h1 {
  font-weight: 300;
  font-size: 2.7rem;
  line-height: 3.2rem;
}
.bold {
  font-weight: 900;
  font-size: 3.5rem;
}
header nav {
  padding-top: 4%;
}
.menuBtn {
  background-color: var(--color-white);
}

.menuBtnVisible {
  /* se le puede aplicar un cambio al boton una vez desplegado */
}
.navMenu {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  gap: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.5s;
}

.navMenuVisible {
  top: 15%;
}

.navMenu a img {
  display: none;
}

.navMenu a {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-black);
  padding: 7%;
}
.no-scroll {
  position: fixed;
}

@media only screen and (min-width: 992px) {
  header {
    align-items: center;
  }

  header nav {
    padding-top: 0;
  }
  header h1 {
    font-size: 3rem;
  }

  .bold {
    font-size: 3.9rem;
  }
  .menuBtn,
  .menuBtnVisible {
    display: none;
  }
  .navMenu {
    position: unset;
    transition: none;
    background: transparent;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }

  .navMenu a img {
    display: flex;
  }

  .navMenu a {
    font-size: 1.9rem;
    padding: 7%;
    cursor: pointer;
  }
  .navMenu a:hover {
    color: var(--color-brown);
  }
  .navMenu a:active {
    color: var(--color-green);
  }
}
