header {
    /* height: ;
     width: ;*/
     margin: 5%;
     
  
  }
  nav{
      text-decoration: none;
  }
  
  @media only screen and (max-width: 600px) {
  
     header{
      margin: 5%;
  } 
  }
  