.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6% 0 3% 0;
}
.slogan p {
  font-size: 1.8rem;
}
.slogan p strong {
  font-weight: 900;
}
.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgProduct {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
.listProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.products .item {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 5%;
  box-shadow: 0.3em 0.3em 3em rgba(187, 187, 187, 0.4);
  border-radius: 30px;
  overflow: hidden;
}
.imgProduct img {
  border-radius: 30px 30px 0 0;
  background-color: var(--color-background);
}

.item .infoProduct {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 9%;
}
.row1,
.row2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infoProduct .row1 img {
  width: 100%;
}
.infoProduct .row2 {
  margin-top: 3%;
}
.infoProduct .row2 img {
  width: 100%;
}
.infoProduct .row1 h5 {
  font-size: 2.1rem;
  font-weight: 400;
  color: var(--color-black);
  align-self: flex-start;
}
.infoProduct .quantity {
  display: flex;
  align-items: center;
  width: 35%;
  align-self: flex-start;
}
.quantity button {
  background-color: transparent;
}
.infoProduct .row2 input {
  width: 10%;
  margin: 0 10%;
  font-size: 2rem;
  color: var(--color-brown);
  align-self: center;
}

.infoProduct .row2 p {
  font-size: 2.4rem;
  color: var(--color-green);
}

@media only screen and (min-width: 992px) {
  .listProducts {
    margin: 2% 0;
  }
  .slogan {
    padding: 2% 0px;
    box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.1);
  }
  .slogan p {
    font-size: 2.4rem;
  }
  .products {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 5%;
  }
  .imgProduct img {
    width: 100%;
  }
  .infoProduct img {
    width: 100%;
  }
  .infoProduct div {
    margin-top: 0.5rem;
  }

  .infoProduct .row1 h5 {
    font-size: 1.8rem;
  }

  .infoProduct .row2 input {
    font-size: 2.1rem;
    font-weight: 400;
    margin: 0 6%;
  }
  .infoProduct .row2 p {
    font-size: 2rem;
  }

  .infoProduct .quantity {
    width: 100%;
    align-self: baseline;
  }
  .quantity button {
    width: 24%;
  }
}
