@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Nunito+Sans:wght@400;600;700&display=swap');

@import url("header.css"); 
@import url("main.css"); 
@import url("nav.css"); 
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
 :root{
    --color-blue: #4982DF;
    --color-black: #303030;
    --color-greyMiddle: #BDBDBD;
    --color-greySoft: #F0F0F0;
    --color-white: #FFFFFF;

    --fontGelasio: 'Gelasio', serif;
    --fontNunito: 'Nunito Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    width: 100%;
    min-height: 100vh;
}
a{
    text-decoration: none;
}
/* Recordar usar rem para los font-size ej: 36px == 3.6rem */