@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("header.css");
@import url("main.css");
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
:root {
  --color-black: #19191b;
  --color-brown: #8f8371;
  --color-green: #8aa328;
  --color-yellow: #ffce89;
  --color-white: #ffffff;

  --font: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "main"
    "main"
    "footerSlogan";
}
.container .logo {
  grid-area: header;
}
.container .listProducts {
  grid-area: main;
}
.container .footerSlogan {
  grid-area: footerSlogan;
}
a {
  text-decoration: none;
}
/* Recordar usar rem para los font-size ej: 36px == 3.6rem */
