@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("header.css");
@import url("main.css");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: var(--font);
}
:root {
  --color-black: #19191b;
  --color-brown: #8f8371;
  --color-green: #8aa328;
  --color-yellow: #ffce89;
  --color-white: #ffffff;
  --color-background: #a9a69b;

  --font: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "slogan"
    "main"
    "main"
    "main";
}
header {
  grid-area: header;
}
.container .listProducts {
  grid-area: main;
}
.container .slogan {
  grid-area: slogan;
}
a {
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "main"
      "main"
      "slogan";
  }
  header {
    grid-area: header;
  }
  .container .listProducts {
    grid-area: main;
  }
  .container .slogan {
    grid-area: slogan;
  }
  a {
    text-decoration: none;
  }
}
/* Recordar usar rem para los font-size ej: 36px == 3.6rem */
